.painel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0;
}

.painel-selecao{
    width: 50%;
    font-size: 1.5rem;
}

.painel-selecao-lista li{
    padding: 1rem;
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.painel-selecao-lista li:hover{
    background-color: #D3D3D3;
    
}

#diagramas-uml h1, #banco-de-dados h1{
    color: red;
    text-align: center;
}

.painel-img{
    width: 100%;
}

.painel-img h2{
    text-align: center;
    margin-bottom: 1rem;
}

.painel-img img{
    border: 2px solid #000000;
    border-radius: 12px;
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.painel-img img.fade-out{
    opacity: 0;
}